.link-single {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // color: #0F88F9;
    padding: 5px;
    &-left {
        display: flex;
        align-items: center;
        h3 {
            font-weight: normal;
            margin-left: 10px;
        }
    }
}