.header-home {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    &-wrap {
        max-width: 1240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1240px;


        .header-home-right {
            > div {
                padding-left: 15px;
                display: flex;
                align-items: c;
                svg {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            display: flex;
            align-items: center;
            .name-user {
                display: flex;
                align-items: center;
                padding-left: 8px;
                padding-right: 8px;
                .avar-user {
                    width: 30px;
                    border-radius: 50%;
                    height: 30px;
                    object-fit: cover;
                    background-color: red;
                }
                h2{
                    padding: 0px 4px;
                }
            }
        }
    }
}