.dashboard {
    height: calc(100vh - 80px);
    padding: 10px 40px;
    background-color: #F3F7F8;
    &-header {
        display: flex;
        justify-content: space-between;
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 10px;
            flex-basis: 38%;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;;
            &-bottom {

                &-mode {
                    margin-top: 5px;
                    text-align: right;
                    bottom: 5px;
                    right: 5px;
                    button {
                        padding: 5px 10px;
                        margin-left: 10px;
                        font-weight: bold;
                        border: 2px solid #000;
                        background-color: #fff;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.7;
                            transition: all 0.3s linear;
                        }
                    }
                    .active {
                        background-color: #000;
                        color: #fff;
        
                    }
                }
            }
            &-top {
                padding-left: 10px;
                padding-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-left {
                    display: flex;
                    align-items: center;
                    &-left {
                        font-size: 65px;
                        margin-right: 20px;
                        color: #10D5F8;
                    }
                    &-right {
                        p{
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }
                &-right {
                    select {
                        padding: 3px;
                    }
                }
            }
        }
        &-left {
            position: relative;
            flex-basis: 60%;
            border-radius: 5px;
            padding: 10px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;;
        &-mode {
            position: absolute;
            bottom: 5px;
            right: 5px;
            button {
                padding: 5px 10px;
                margin-left: 10px;
                font-weight: bold;
                border: 2px solid #000;
                background-color: #fff;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                    transition: all 0.3s linear;
                }
            }
            .active {
                background-color: #000;
                color: #fff;

            }
        }
        }
    }
    &-bottom{
        padding-top: 10px;
        &-row {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        padding-bottom: 20px;
        &-container {
            background-color: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;            flex-basis: 47%;
            padding: 15px 30px;
            &-header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                h2 {
                    opacity: 0.7;
                    font-size: 20px;
                }
                &-right {
                    font-weight: bold;
                    color: green;
                    display: flex;
                    align-items: center;
                    font-size: 23px;
                    p {
                        padding-left: 5px;
                        
                    }
                }
                &-right.down {
                    color: red;
                }
            }
            &-body {
                display: flex;
                align-items: center;
                .icon {
                    font-size: 35px;
                    margin-right: 10px;
                }
                h2 {
                    font-size: 30px;
                }
            }
            &-bottom{
                display: flex;
                align-items: center;
                margin-top: 5px;
                &-cicle {
                    width: 30px;
                    height: 30px;
                    background-color: red;
                    border-radius: 50%;
                    z-index: 3;
                }
                &-line {
                    height: 15px;
                    // border: 1px solid #ccc;
                    background-color: #ccc;
                    margin-left: -10px;
                    flex-grow: 1;
                    div {
                        height: 100%;
                        background-color: red;
                        width: 0%;
                    }
                }
            }
        }

        }
    }
}