.login-header{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    height: 98px;
    margin-bottom: 2px;
    &-left{
        display: flex;
        align-items: center;
        h2 {
            margin-left: 20px;
            font-size: 40px;
        }
    }
    &-right {
        display: flex;
        h4 {
            margin-left: 20px; 
            font-size: 20px;
        }
    }
    &-wrap{
    display: flex;
    max-width: 1240px;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    }
}